/* MyBookings.css */


  .table-container {
    position: relative; /* Needed for the absolute positioning of front and back */
  }
  
  /* Your existing styles for the table */
  .TableContainer {
    /* Add any additional styles you need for the table container */
  }
  
  .table-headings {
    display: flex;
    justify-content: space-between;
  }
  
  .table-heading {
    flex: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .table-heading.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  