/* MyBookings.css */


  
  .table-headings {
    display: flex;
    justify-content: space-between;
  }
  
  .table-heading {
    flex: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .table-heading.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  